{% extends "base.html" %}

{% block title %}Редактировать организацию{% endblock title %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "organization_out" %}">Organization</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>

    <div class="container">
        <h1>Редактировать: {{ organization }}</h1>
    </div>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr>
                    <th>Тип</th>
                    <td>{{ form.org_type }}</td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td>{{ form.org_name }}</td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>{{ form.org_phone }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ form.org_email }}</td>
                </tr>
                <tr>
                    <th>Сайт</th>
                    <td>{{ form.org_website }}</td>
                </tr>
                <tr>
                    <th>Контактное лицо</th>
                    <td>{{ form.org_contact_person }}</td>
                </tr>
                <tr>
                    <th>ИНН</th>
                    <td>{{ form.org_INN }}</td>
                </tr>
                <tr>
                    <th>КПП</th>
                    <td>{{ form.org_KPP }}</td>
                </tr>
                <tr>
                    <th>ОРГН</th>
                    <td>{{ form.org_OGRN }}</td>
                </tr>
                <tr>
                    <th>ОКПО</th>
                    <td>{{ form.org_OKPO }}</td>
                </tr>
                <tr>
                    <th>Расчётный счёт</th>
                    <td>{{ form.org_checking_account }}</td>
                </tr>
                <tr>
                    <th>Банк</th>
                    <td>{{ form.org_bank }}<a href="{% url "bank_add" %}" target="_blank"><i class="fas fa-plus home-icon"></i> Add</a>
                        <a href="{% url "bank_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i> Change</a></td>
                </tr>
                <tr>
                    <th>Создан</th>
                    <td>{{ organization.created }}</td>
                </tr>
                <tr>
                    <th>Обновлён</th>
                    <td>{{ organization.updated }}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col"><a href="{% url "organization_delete" organization.id %}"><input type="button"
                                                                                          class="btn btn-danger"
                                                                                          value="Удалить"></a>
                </div>
                <div class="col" align="right"><a href="../../../organization"><input type="button"
                                                                                  class="btn btn-light"
                                                                                  value="Отменить"></a>
                    <a href="../../../organization"><input type="submit" class="btn btn-success"></a></div>
            </div>
        </form>
    </div>
{% endblock content %}