{% extends 'base.html' %}

{% block title %}Организации{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "organization_out" %}">Organization</a></li>
        </ol>
    </nav>

    <div class="container">
        <h1 align="center" class="h1-out">{{ organization_verbose }}</h1>
    </div>
    <div class="container-fluid out-container">
        <table class="table table-light border table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>Тип</th>
                <th>Название</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Сайт</th>
                <th>Представитель</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>ОРГН</th>
                <th>ОКПО</th>
                <th title="Рассчётный счёт">Счёт</th>
                <th>Банк</th>
                <td colspan="2" align="center">
                    <form action="{% url "organization_add" %}">
                        <button type="submit" class="btn btn-success" title="Добавить"><i
                                class="fas fa-plus-square"></i></button>
                    </form>
                </td>
            </tr>
            </thead>
            {% for organization in organization_list %}
                <tr>
                    <th>{{ organization.org_type }}</th>
                    <td>{{ organization.org_name }}</td>
                    <td>{{ organization.org_phone }}</td>
                    <td>{{ organization.org_email }}</td>
                    <td>{{ organization.org_website }}</td>
                    <td>{{ organization.org_contact_person }}</td>
                    <td>{{ organization.org_INN }}</td>
                    <td>{{ organization.org_KPP }}</td>
                    <td>{{ organization.org_OGRN }}</td>
                    <td>{{ organization.org_OKPO }}</td>
                    <td>{{ organization.org_checking_account }}</td>
                    <td>{{ organization.org_bank }}</td>
                    <td align="center"><a href="{% url "organization_edit" organization.id %}"><i class="fas fa-edit"
                                                                                                  title="Изменить"></i></a>
                    </td>
                    <td align="center"><a href="{% url "organization_delete" organization.id %}"><i
                            class="far fa-trash-alt" title="Удалить"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}