{% extends "base.html" %}

{% block title %}Добавить товар в заказ{% endblock title %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "productInOrder_out" %}">ProductInOrder</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>

    <div class="container">
        <h1>Добавить товар в заказ</h1>
    </div>

    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr>
                    <th>Заказ</th>
                    <td>{{ form.order }}<a href="{% url "order_add" %}" target="_blank"><i
                            class="fas fa-plus home-icon"></i> Add</a>
                        <a href="{% url "order_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i>
                            Change</a></td>
                </tr>
                <tr>
                    <th>Товар</th>
                    <td>{{ form.product }}<a href="{% url "product_add" %}" target="_blank"><i
                            class="fas fa-plus home-icon"></i> Add</a>
                        <a href="{% url "product_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i>
                            Change</a></td>
                </tr>
                <tr>
                    <th>Стоимость</th>
                    <td>{{ productInOrder.product.product_price }} / {{ productInOrder.product.product_unit }} </td>
                </tr>
                <tr>
                    <th>Количество</th>
                    <td>{{ form.number }}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col" align="right"><p>
                    <a href="../../../productInOrder"><input type="button" class="btn btn-secondary"
                                                             value="Discard changes"></a>
                    <a href="../../../productInOrder"><input type="submit" class="btn btn-success"
                                                             value="Save and add another" name="Add another"></a>
                    <a href="../../../productInOrder"><input type="submit" class="btn btn-success" name="Add"></a>
                </p></div>
            </div>
        </form>
    </div>
{% endblock content %}