{% extends "base.html" %}

{% block title %}Редактировать категорию{% endblock title %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "category_out" %}">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>

    <div class="container">
        <h1>Редактировать: {{ category }}</h1>
    </div>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr>
                    <th>Название</th>
                    <td>{{ form.cat_name }}</td>
                </tr>
                <tr>
                    <th>Родитель</th>
                    <td>{{ form.cat_parent }}</td>
                </tr>

                <tr>
                    <th>Создан</th>
                    <td>{{ category.created }}</td>
                </tr>
                <tr>
                    <th>Обновлён</th>
                    <td>{{ category.updated }}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col"><a href="{% url "category_delete" category.id %}"><input type="button"
                                                                                          class="btn btn-danger"
                                                                                          value="Удалить"></a>
                </div>
                <div class="col" align="right"><a href="../../../category"><input type="button"
                                                                                  class="btn btn-light"
                                                                                  value="Отменить"></a>
                    <a href="../../../category"><input type="submit" class="btn btn-success"></a></div>
            </div>
        </form>
    </div>
{% endblock content %}