{% extends "base.html" %}

{% block title %}Добавить производителя{% endblock title %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "manufacturer_out" %}">Manufacturer</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>

    <div class="container">
        <h1>Добавить производителя</h1>
    </div>

    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr>
                    <th>Название</th>
                    <td>{{ form.man_name }}</td>
                </tr>
                <tr>
                    <th>Организация</th>
                    <td>{{ form.man_org }}<a href="{% url "organization_add" %}" target="_blank"><i class="fas fa-plus home-icon"></i> Add</a>
                        <a href="{% url "organization_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i> Change</a></td>
                </tr>
            </table>
            <div class="row">
                <div class="col" align="right"><p>
                    <a href="../../../manufacturer"><input type="button" class="btn btn-secondary"
                                                           value="Discard changes"></a>
                    <a href="../../../manufacturer"><input type="submit" class="btn btn-success"></a>
                </p></div>
            </div>
        </form>
    </div>
{% endblock content %}