{% extends "base.html" %}

{% block title %}Удалить товар{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "store_out" %}">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>


    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <table>
                <tr>
                    <td><h1 align="right">Удалить: {{ store }}?</h1></td>
                    <td class="delete-button-td">
                        <input type="submit" class="btn btn-danger btn-delete" value="Yes" name="Yes">
                        <input type="submit" class="btn btn-light btn-delete" value="No" name="No">
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div class="container del-container">
        <table class="table table-light border" align="center">
            <tr>
                <th>Название</th>
                <td>{{ product.product_name }}</td>
            </tr>
            <tr>
                <th>Артикл</th>
                <td>{{ product.product_article }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ product.product_price }}</td>
            </tr>
            <tr>
                <th>Валюта</th>
                <td>{{ product.product_currency }}</td>
            </tr>
            <tr>
                <th>Единица измерения</th>
                <td>{{ product.product_unit }}</td>
            </tr>
            <tr>
                <th>Магазин</th>
                <td>{{ product.product_store }}<a href="{% url "store_add" %}" target="_blank"><i
                        class="fas fa-plus home-icon"></i> Add</a>
                    <a href="{% url "store_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i>
                        Change</a></td>
            </tr>
            <tr>
                <th>Производитель</th>
                <td>{{ product.product_manufacturer }}<a href="{% url "manufacturer_add" %}" target="_blank"><i
                        class="fas fa-plus home-icon"></i> Add</a>
                    <a href="{% url "manufacturer_out" %}" target="_blank"><i
                            class="fas fa-pencil-alt home-icon"></i> Change</a></td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>{{ product.product_category }}<a href="{% url "category_add" %}" target="_blank"><i
                        class="fas fa-plus home-icon"></i> Add</a>
                    <a href="{% url "category_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i>
                        Change</a></td>
            </tr>
            <tr>
                <th>Поставщик</th>
                <td>{{ product.product_provider }}<a href="{% url "provider_add" %}" target="_blank"><i
                        class="fas fa-plus home-icon"></i> Add</a>
                    <a href="{% url "provider_out" %}" target="_blank"><i class="fas fa-pencil-alt home-icon"></i>
                        Change</a></td>
            </tr>
            <tr>
                <th>Создан</th>
                <td>{{ product.created }}</td>
            </tr>
            <tr>
                <th>Обновлён</th>
                <td>{{ product.updated }}</td>
            </tr>
        </table>
    </div>

{% endblock %}