{% extends 'base.html' %}

{% block title %}Поставщики{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "provider_out" %}">Provider</a></li>
        </ol>
    </nav>

    <div class="container">
        <h1 align="center" class="h1-out">{{ provider_verbose }}</h1>
    </div>

    <div class="container out-container">
        <table class="table table-light border table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Организация</th>
                <td colspan="2" align="center">
                    <form action="{% url "provider_add" %}">
                        <button type="submit" class="btn btn-success" title="Добавить"><i
                                class="fas fa-plus-square"></i></button>
                    </form>
                </td>
            </tr>
            </thead>
            {% for provider in provider_list %}
                <tr>
                    <th>{{ provider.id }}</th>
                    <td>{{ provider.provider_name }}</td>
                    <td>{{ provider.provider_org }}</td>
                    <td align="center"><a href="{% url "provider_edit" provider.id %}"><i class="fas fa-edit"
                                                                                          title="Изменить"></i></a>
                    </td>
                    <td align="center"><a href="{% url "provider_delete" provider.id %}"><i class="far fa-trash-alt"
                                                                                            title="Удалить"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}