{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "order_out" %}">Order</a></li>
        </ol>
    </nav>

    <div class="container">
        <h1 align="center" class="h1-out">{{ order_verbose }}</h1>
    </div>

    <div class="container-fluid out-container">
        <table class="table table-light border table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Магазин</th>
                <th>Покупатель</th>
                <th>Стоимость товаров</th>
                <th>Сумма НДС</th>
                <th>Стоимость доставки</th>
                <th>Баланс</th>
                <th>Итоговая стоимость</th>
                <th>Статус</th>
                <th>Создан</th>
                <th>Обновлён</th>
                <td colspan="3" align="center">
                    <form action="{% url "order_add" %}">
                        <button type="submit" class="btn btn-success" title="Добавить"><i
                                class="fas fa-plus-square"></i></button>
                    </form>
                </td>
            </tr>
            </thead>
            {% for order in order_list %}
                <tr>
                    <th>{{ order.id }}</th>
                    <td>{{ order.store }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.total_product_price }}</td>
                    <td>{{ order.order_NDS }}</td>
                    <td>{{ order.total_delivery_price }}</td>
                    <td>{{ order.balance }}</td>
                    <td>{{ order.order_total_amount }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.created }}</td>
                    <td>{{ order.updated }}</td>
                    <td align="center"><a href="{% url "order_view" order.id %}" title="Просмотреть"><i class="fas fa-eye"></i></a></td>
                    <td align="center"><a href="{% url "order_edit" order.id %}"><i class="fas fa-edit"
                                                                                    title="Изменить"></i></a>
                    </td>
                    <td align="center"><a href="{% url "order_delete" order.id %}"><i class="far fa-trash-alt"
                                                                                      title="Удалить"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}